.product_card {
    max-width: 300px;
    height: 370px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product_image {
    max-height: 250px;
    max-width: 250px;
    min-width: 250px;
    min-height: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.product_info p{
    margin: 20px 0 0 10px;
}

.product_price {
    font-weight: bold;
    color: #333;
    margin: 10px 0 0 10px;
}

.product_availability p{
    margin: 10px 10px;
    color: #27ae60;
}

a {
    text-decoration: none;
}